.card{
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.icon{
    font-size: 50px;
    width: fit-content;
    height: fit-content;
}
.orange{
    background-color:rgb(215, 148, 22) ;
}
.red{
    background-color: rgb(166, 11, 11);
}
.green{
    background-color: green;
}
.pink{
    background-color: rgb(255, 192, 236);
}