<div class="cards">
    <mat-card>
        <app-card 
        bg="orange"
        icon="person"
        description="student"
        count="2000"
         ></app-card>
      </mat-card>
      <mat-card>
        <app-card
        bg="red"
        icon="home"
        description="institution"
        count="50"
        ></app-card>
      </mat-card>
      <mat-card>
        <app-card
        bg="green"
        icon="groups"
        description="Employees"
        count="1000"
        ></app-card>
      </mat-card>
      <mat-card>
        <app-card
        bg="pink"
        icon="assessment"
        description="Placements"
        count="1500"
        ></app-card>
      </mat-card>
</div>
<div class="area">
    <app-areachart></app-areachart>
</div>
<div class="tablepie">
    <div>
      <app-table></app-table>
    </div>
    <div>
      <app-piechart></app-piechart>
        
    </div>
</div>
